{% extends "admin_base.html" %} {% block content %}
<section class="admin-section update-section">
  <div class="admin-container">
    <div class="admin-col">
      <div class="admin-div">
        <h2 class="admin-h2">Edit Work Section</h2>

        <form
          action="{{ url_for('admin_.admin_content_update_work') }}"
          method="post"
          enctype="multipart/form-data"
        >
          {{ form.hidden_tag() }} {{ form.title.label }} {{ form.title() }}
          {{form.service_title.label}}{{form.service_title()}}
          {{form.service_description.label}}{{form.service_description()}}
          {{form.read.label}}{{form.read()}} {{ form.description.label }} {{
          form.description() }} {{ form.image.label }} {{ form.image() }}
          <button class="admin-button" type="submit">Update Work</button>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
