<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
    <link
      href="https://fonts.googleapis.com/css?family=JetBrains Mono"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/bootstrap.css') }}"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- fonts style -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/6en8XCp+HHAAK5GSLf2xlYtvJ8U2Q4U+9cuEnJoa3/ZD2Vr184mLl0aZ0qFJJEW"
      crossorigin="anonymous"
    />
    <!-- Custom styles for this template -->
    <link
      href="{{ url_for('static', filename='css/admin_.css') }}"
      rel="stylesheet"
    />
    {{ toastr.include_jquery() }} {{ toastr.include_toastr_css() }} {{
    toastr.message() }}
  </head>
  <body>
    {{ toastr.include_toastr_js() }} {%include 'admin_header.html'%} {% block
    content %}{% endblock %} {%include 'admin_footer.html'%}
  </body>

  <script
    type="text/javascript"
    src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"
  ></script>
  <script
    type="text/javascript"
    src="{{ url_for('static', filename='js/bootstrap.js') }}"
  ></script>
  <script
    type="text/javascript"
    src="{{ url_for('static', filename='js/custom.js') }}"
  ></script>
</html>
