{% extends "admin_base.html" %} {% block content %}


<section class="admin-register-section">
  <div class="admin-container">
    <div class="admin-col">
      <div class="admin-div">
        <h2 class="admin-h2">Sign-Up</h2>
      <form action="{{ url_for('admin_.admin_register') }}" method="post">
         {{form.hidden_tag()}}
        <div class="admin-form">
         {{ form.email.label }}
         {{ form.email(class="admin-input", placeholder="Email:") }}
        </div>
        <div class="admin-form">
          {{ form.username.label }}
          {{ form.username(class="admin-input", placeholder="Username:") }}
         </div>
         <div class="admin-form">
          {{ form.name.label }}
          {{ form.name(class="admin-input", placeholder="Name:") }}
         </div>
        <div class="admin-form">
         {{ form.password.label }}
         {{ form.password(class="admin-input", placeholder="Password:") }}
        </div>
        <div class="admin-form">
          {{ form.confirm.label }}
          {{ form.confirm(class="admin-input", placeholder="Confirm:") }}
         </div>
        <button class="admin-button" type="submit">Sign Up</button>
      </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}

     