{% extends "base.html" %}

{% block content %}
  {% block header %}
    <div class="hero_area">
      <div id="header" class="header_section">{% include 'header.html' %}</div>
      <div id="slider" class="slider_section">{% include "slider.html" %}</div>
    </div>
  {% endblock %}

  <div id="about_section" class="about_section">
    {% include "about_section.html" %}
  </div>

  <div id="service_section" class="service_section">
    {% include "service.html" %}
  </div>

  <div id="work_section" class="work_section">{% include "work.html" %}</div>

  <div id="team_section" class="team_section">{% block team %}{% endblock %}</div>

  <div id="client_section" class="client_section">
    {% block client %}{% endblock %}
  </div>
{% endblock %}

{% block info %}
  <div class="footer_bg">
    {% include 'info.html' %}
    {% include 'contact.html' %}
    {% include 'footer.html' %}
  </div>
{% endblock %}
