
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Seotech</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="static/css/responsive.css" rel="stylesheet" />
</head>

<body>
  {% block header %}
    {% include "header.html" %}
  {% endblock %}
  
  {% block slider %}
    {% include "slider.html" %}
  {% endblock %}

  {% block about %}
    {% include "about.html" %}
  {% endblock %}

  {% block service %}
    {% include "service.html" %}
  {% endblock %}

  {% block work %}
    {% include "work.html" %}
  {% endblock %}

  {% block team %}
    {% include "team.html" %}
  {% endblock %}

  {% block client %}
    {% include "client.html" %}
  {% endblock %}

  {% block contact %}
    {% include "contact.html" %}
  {% endblock %}

  {% block info %}
    {% include "info.html" %}
  {% endblock %}

  {% block footer %}
    {% include "footer.html" %}
  {% endblock %}

  <script type="text/javascript" src='static/js/jquery-3.4.1.min.js'></script>
  <script type="text/javascript" src= 'static/js/bootstrap.js' ></script>
  <script type="text/javascript" src= 'static/js/custom.js' ></script>

</body>


</html>