{% extends 'base.html' %}





<body class="sub_page">
  <!-- service section -->
  {% block content %}
  {% block service %}
  <section class="service_section layout_padding">
    <div class="container-fluid">
      <div class="heading_container">
        <h2>
          Our Services
        </h2>
        <p>
          consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>

      <div class="service_container">
        <div class="box">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/s-1.png') }}" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Brand Promotion
            </h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/s-2.png') }}" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Video Marketing
            </h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            </p>
          </div>
        </div>
        <!-- Add similar blocks for other images -->
      </div>
      <div class="btn-box">
        <a href="">
          Read More
        </a>
      </div>
    </div>
  </section>
  {% endblock %}
  <!-- end service section -->
  {% endblock %}
<!-- Add blocks for other sections (contact, info, footer) as needed -->

 

</html>