

{% block work %}
<section class="work_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          How We Work!
        </h2>
        <p>
          consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="detail_container">
            <div class="box b-1">
              <div class="top-box">
                <div class="icon-box">
                  <img src="/static/images/work-i1.png" alt="">
                </div>
                <h5>
                  We Generate A Good Idea First
                </h5>
              </div>
              <div class="bottom-box">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam
                </p>
              </div>
            </div>
            <div class="box b-1">
              <div class="top-box">
                <div class="icon-box">
                  <img src="/static/images/work-i2.png" alt="">
                </div>
                <h5>
                  Then We Start Applying Ideas
                </h5>
              </div>
              <div class="bottom-box">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="/static/images/work-img.png" alt="">
          </div>
        </div>
      </div>

      <div class="btn-box">
        <a href="">
          Read More
        </a>
      </div>
    </div>
  </section>
{% endblock %}